<h3>Category by id: {{ getSearchCategory() }}</h3>

<div class="row mt-4" >
    <div class="col-lg-4 col-md-6 mb-4" >
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://dummyimage.com/700x400/dee2e6/6c757d.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a>Item one</a>
          </h4>
          <h5>24.3$</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quas cum eligendi quam eius non. Dolores dignissimos animi earum! Illum atque alias adipisci odit doloribus facere totam eligendi, numquam qui.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Stars</small>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4" >
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="https://dummyimage.com/700x400/dee2e6/6c757d.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a >11212</a>
            </h4>
            <h5></h5>
            <p class="card-text"></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Stars</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4" >
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="https://dummyimage.com/700x400/dee2e6/6c757d.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a >11212</a>
            </h4>
            <h5></h5>
            <p class="card-text"></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Stars</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4" >
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="https://dummyimage.com/700x400/dee2e6/6c757d.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a >11212</a>
            </h4>
            <h5></h5>
            <p class="card-text"></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Stars</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4" >
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="https://dummyimage.com/700x400/dee2e6/6c757d.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a >11212</a>
            </h4>
            <h5></h5>
            <p class="card-text"></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Stars</small>
          </div>
        </div>
      </div>
</div>
